*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior:smooth;
}
body {
    background: #080808;
    color: #fff;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: 100%;
    background-position: center;
}

.container{
    padding: 10px 10%;
}
.bubbles {
    position: relative;
    display: flex;
    z-index: -1
}
.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
    z-index: -1
    
}
.bubbles span:nth-child(even) {
    background: #037570;
    box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #037570, 0 0 100px #037570;
    z-index: -1;
}

.logo {
    width: 100px;
    height: auto;
    z-index: -1;
}

@keyframes animate {
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    100%
    {
        transform: translateY(-10vh) scale(1);
    }
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 10px;
}

nav ul li a{
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #4b91f1;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    margin-top: 20px;
    font-size: 60px;
}

#header h1 {
    color: #ffffff;
}

#header p {
    color: #ffffff;
}

#header a {
    color: #ffffff;
}

#header span {
    color: #7bd7fa;
}

.logo {
    width: 500px;
    height: auto;
}

/* About Section */
#about{
    padding:80px 0;
    color: #ffffff;
}
.row {
    display: flex;
    justify-content: space-between;
}
.about-col-1{
    flex-basis: 35%
}
.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

i.fa-solid, i.fa-brands {
    font-size: 30px; /* Change the size to your desired value */
}

.about-col-2{
    flex-basis: 60%;
}
.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #ffffff;
}
#header p {
    color:#fff
}
.tab-titles{
    display:flex;
    margin: 20px 20px 40px;
}
.tab-links{
    margin-right:50px;
    font-size:18px;
    font-weight: 500;
    cursor:pointer;
    position: relative;
}


.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #4b91f1;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #4b91f1;
    font-weight: 200;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

.links-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.link {
    display: inline-block;
    background-color: #4b91f1;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    text-decoration: none;
  }
  
.link:hover {
    background-color: #1556b1;
    transform: translateY(5px);
    transition: background 0.5s;
  }

/*--------Services---------*/
#services {
    padding: 30px 0;
}
.services-list{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-right: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 25px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    background: #4b91f1;
    transform: translateY(-10px);
}
/*--------Contacts---------*/
.contact-left{
    flex-basis: 35%
}
.contact-right{
    flex-basis: 60%
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i {
    color:#4b91f1;
    margin-right: 15px;
    font-size: 25px;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #4b91f1;
    padding: 14px 50px;
    border-radius: 6px;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover{
    background: #1556b1;
}

.btn.btn2{
    display: inline-block;
    background:#4b91f1;
}

.btn.btn2:hover{
    background:#1556b1
}

.contact-right{
    width:100%;
}

form input, form textarea{
    width: 286%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
#msg{
    color:#4b91f1;
    margin-top: -20px;
    display: block;
}
